html, body {
	margin: 0;
	width: 100%;
	height: 100%;
}

#terminalpage {
	width: 100%;
	height: 100%;
	background-color: #eee;
}

#navbar {
	width: 100%;
	height: 10%;
	background-color: #ffffff;
	border-bottom-color: #FEE452;
	border-bottom-width: 4px;
	border-bottom-style: solid;
}

#terminal {
	width: 100%;
	height: 80%;
}

#footbar {
	width: 100%;
	height: 10%;
	background-color: #FEE452;
}

.control {
	background-color: #FEE452;
	border-color: #000;
	border-width: 1px;
	border-radius: 5px;
	width: 25%;
	height: 30px;
}

.control:hover {
	background-color: #000000;
	border-color: #ffffff;
	color: #ffffff;
}

.commentbox {
	background-color: #FFFFFF;
	margin-top: 8px;
	margin-bottom: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
	border-style: solid;
	border-color: #000000;
	border-width: 1px;
}

.comment-input {
	width: 90%;
	margin-bottom: 8px;
	background-color: #eee;
	border-style: solid;
	border-color: #FFFFFF;
	border-width: 1px;
	padding: 4px;
}